<!DOCTYPE html>
<html lang="en">

{{> head}}

    {{> navbar}}

<div class="row">
    
    <div class="col-8">
        <h1>Fotografias de Tonny</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia laudantium qui totam sed eaque, nulla pariatur cupiditate, vero veniam autem rem quo eius exercitationem perferendis nisi incidunt minus reprehenderit quasi?</p>
    </div>

    <div class="col-4">
        <img src="assets/img/about.png" class="img-thumbnail">
    </div>

</div>
{{> footer}}